body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #1c1c1c;
  color: #f1f1f1;
  margin-bottom: 60px;
}

header {
  background-color: #000000;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2em;
  color: #e49b0f;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li a {
  color: #b8b2b2;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 10px;
  z-index: 1000;
}

.menu-area-restrita {
  text-align: center;
  margin-top: 60px;
}

.menu-area-restrita h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #e49b0f;
}

.menu-opcoes {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.menu-opcoes .btn {
  background-color: #e49b0f;
  padding: 14px 28px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.menu-opcoes .btn:hover {
  background-color: #cc860e;
}