body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #1c1c1c;
  color: #f1f1f1;
  margin-bottom: 60px;
}

header {
  background-color: #000000;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2em;
  color: #e49b0f;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li a {
  color: #b8b2b2;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
  transition: 0.5s;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 10px;
  z-index: 1000;
}

.login-container {
  max-width: 440px;
  margin: 40px auto;
  background-color: #222;
  padding: 20px;
  border-radius: 8px;
}

.login-container h2 {
  text-align: center;
  color: #e49b0f;
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-container label {
  font-size: large;
  color: #e49b0f;
}

.login-container input {
  padding: 8px;
  border-radius: 8px;
  border: none;
}

.login-container .link-cadastro {
  text-align: center;
  margin-top: 10px;
}

.login-container .link-cadastro a {
  color: #e49b0f;
}

.login-container .link-cadastro a:hover {
  color: #c4811e;
  transition: 0.5s;
}

.login-container input[type="submit"] {
  background-color: #e49b0f;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

.login-container input[type="submit"]:hover {
  background-color: #c4811e;
  transition: 0.5s;
}