body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(to right, #2b2b2b, #101010);
  color: #f1f1f1;
  margin-bottom: 60px;
}

header {
  background-color: #000000;
  padding: 20px;
  text-align: center;
  margin: 0;
}

header h1 {
  margin: 0;
  font-size: 2em;
  color: #e49b0f;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li a {
  color: #b8b2b2;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 10px;
  z-index: 1000;
}


.container {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: auto;
}

.atacantes {
  width: 50%;
  padding: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: #333;
  border-radius: 2rem;
  border-top: 4px solid #d62f09;
}

.defensores {
  width: 50%;
  padding: 20px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #333;
  border-radius: 2rem;
  border-top: 4px solid #0e9fcf;
}

.atacantes h2 {
  text-align: center;
  border-bottom: 2px solid #b8b2b2;
  padding-bottom: 10px;
  color: #d62f09;
  filter: drop-shadow(5px 5px 5px #000000);
}

.defensores h2 {
  text-align: center;
  border-bottom: 2px solid #b8b2b2;
  padding-bottom: 10px;
  color: #0e9fcf;
  filter: drop-shadow(5px 5px 5px #000000);
}

.operador {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.operador img {
  width: 55px;
  height: 50px;
  border-radius: 50%;
}

.operador h3 {
  color: #e49b0f;
  font-size: 1rem;
}