body {
  font-family: Helvetica;
  margin: 0;
  background-color: #1c1c1c;
  color: #f1f1f1;
  margin-bottom: 60px;
}

header {
  background-color: #000000;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2em;
  color: #e49b0f;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul li a {
  color: #b8b2b2;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
  transition: 0.5s;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 10px;
  z-index: 1000;
}
.container {
  max-width: 960px;
  margin: auto;
  padding: 20px;
}

.introducao {
  margin-bottom: 20px;
  background-color: #222;
  padding: 20px;
  border-radius: 1rem;
  letter-spacing: 0.4px;
  border-left: 4px solid #0f96e4;
  filter: drop-shadow(5px 5px 5px #000000);
}

.introducao:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.introducao h2 {
  color: #e49b0f;
}

.novidades {
  background-color: #222;
  padding: 20px;
  border-radius: 1rem;
  border-left: 4px solid #0f96e4;

  filter: drop-shadow(5px 5px 5px #000000);
}

.novidades:hover {
  transform:scale(1.05);
  transition: 0.5s;
}

.novidades h2 {
  color: #e49b0f;
}

.novidades ul {
  list-style-type: disc;
  padding-left: 20px;
}

.novidades li {
  margin-bottom: 1rem;
}

.certificacoes {
  background-color: #222;
  padding: 20px;
  border-radius: 1rem;
  color: #e49b0f;
  margin-bottom: 1.4rem;
  border-left: 4px solid #0f96e4;
  filter: drop-shadow(5px 5px 5px #000000);
}

.certificacoes:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

.certificados {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  filter: drop-shadow(5px 5px 5px #000000);
}

.meuscertificados {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.meuscertificados img {
  width: 100%;
  border-radius: 1rem;
  margin-top: .825rem;
}